/* App.css */

/*Colores principales*/
/* Fondo principal */
.fondoPrinc {
    background-color: #22214D; /* Color de fondo igual al del body */
    color: #22214D; /* Color del texto igual al fondo, útil para elementos ocultos o decorativos. Por si se necesitan letras de este color */
}

/* Fondo secundario */
.fondpSec { 
    background-color: #3B4290; /* Un tono de azul más claro para diferenciar áreas */
    color: #3B4290; /* Color de texto igual al fondo */
}

/* Estilos para la barra lateral o elementos del NavBar con objetos específicos */
.sidebar-NavBar-Objetos {
    background-color: #2D285E; /* Color consistente con el NavBar */
    color: #2D285E; /* Texto del mismo color que el fondo */
}

/* Estilos para botones primarios */
.botonesPrinc {
    background-color: #E53F67; /* Color rojo para botones importantes o de acciones críticas */
    color: #E53F67; /* Color de texto igual al fondo */
}

/* Estilos para botones secundarios */
.botonesSec {
    background-color: #F6AB0F; /* Color naranja para botones de menor prioridad */
    color: #F6AB0F; /* Color de texto igual */
}

/* Estilos para texto dentro de componentes */
.letras {
    background-color: #FDFFFA; /* Fondo claro */
    color: #FDFFFA; /* Texto del mismo color */
}

/*--------------------------------------------------------------------------------*/

/*Colores generales del body y nabvar*/

/* Estilos generales del body que aplican a toda la página */
body {
    background-color: #22214D; /* Color de fondo para todas las pantallas */
    color: #FDFFFA; /* Color de texto */
}

/* Estilos específicos para la barra de navegación */
.navbar-custom {
    background-color: #2D285E; /* Color de fondo específico para el NavBar */
    color: #FDFFFA; /* Color del texto en el NavBar */
    height: 56px; /* Altura fija para el NavBar */
    width: auto; /* Ancho automático para adaptarse al contenedor */
}

/*--------------------------------------------------------------------------------*/

/*Imagenes en la barra de navegación*/

/* Margen para el logo dentro del NavBar para separación visual */
.navbar-logo {
    margin-left: 36px; /* Espacio a la izquierda del logo para evitar que toque el borde del NavBar */
    margin-right: 26px;
}

/* Margen para el user_icon dentro del NavBar para separación visual */
.User_icon {
    margin-left: 26px; /* Espacio a la izquierda del logo para evitar que toque el borde del NavBar */
}

/*--------------------------------------------------------------------------------*/

/*Colores de cada objeto en navbar Izquierda*/

/* Cambia el color del texto de todos los enlaces en la barra de navegación */
.navbar-nav .nav-link {
    color: #FDFFFA; /* Color del texto en el NavBar */
}

/* Cambia el color del texto de todos los enlaces en la barra de navegación */
.navbar-nav .nav-link.active {
    color: #E53F67; /* Color del texto en el NavBar */
}

/* Cambia el color del texto de los enlaces cuando se pasa el mouse sobre ellos */
.navbar-nav .nav-link:hover {
    color: #E53F67; /* Color rojo para el hover */
}

/*--------------------------------------------------------------------------------*/

/*Colores de cada objeto en navbar Derecha*/

/* Cambia el color del texto y fondo del botón para ingresar */
.navbar-nav .btn.btn-primary {
    color: #22214D; /* Color del texto en el NavBar */
    background-color: #F6AB0F;
    border-color: #F6AB0F;
    margin-right: 11px;
    
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .btn.btn-primary:hover {
    color:#FDFFFA;
    background-color: #E53F67; /* Color rojo para el hover */
    border-color: #E53F67;
}

/* Cambia el color del texto de los enlaces cuando se pasa el mouse sobre ellos */
.navbar-nav .nav-link:hover {
    color: #E53F67; /* Color blanco para el hover */
}

.navbar-toggler {
    margin-right: 36px;
}

button.navbar-toggler:focus{
    border-color: #FDFFFA; /* Hace el borde transparente */
}

.navbar-collapsed.collapse.show {
    align-items: end;
}

.nav-link.dropdown-toggle {
    margin-right: 36px;
}

.nav-link.dropdown-toggle.show {
    margin-right: 36px;
}

.nav-link.dropdown-toggle.show::after {
    color: #E53F67; /* Color rojo para el hover */
}

.nav-item.dropdown .dropdown-item{
    background-color: #3B4290; /* Color rojo para el hover */
    color:#FDFFFA;
    border-color: #FDFFFA;
    border-left-color: #FDFFFA;
}

.nav-item.dropdown .dropdown-item:hover{
    color: #E53F67;
}

.nav-item.dropdown .dropdown-divider {
    background-color: #FDFFFA; /* Color rojo para el hover */
}

.nav-item.dropdown .dropdown-menu {
    transform: translateX(-40px); /* Mueve el menú 20px a la izquierda */
    background-color: #3B4290;
}

/*--------------------------------------------------------------------------------*/
